body {background-image: linear-gradient(90deg, rgba(213,144,255,1) 0%, rgba(29,223,253,1) 50%, rgba(213,144,255,1) 100%);}

#container {
    display: flex; flex-direction: column; gap: 10px;
    position: absolute; justify-content: center;
    left: 0; right: 0; bottom: 0; top: 0;
    align-items: center;
    font-family: Arial;
}
.secondary-container {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    height: 100%; 
    color: white;
    user-select: none;
}

#timezone-display {font-weight: normal;}
#time-display {
    width: 100%; height: 250px; max-width: 700px;
    font-size: 500%;

    box-shadow: 0px 0px 15px 10px rgba(79, 74, 81, 0.084);
    backdrop-filter: blur(5px);
    display: flex; align-items: center; justify-content: center;
    border-radius: 20px;
    margin-top: 40px;
    
}

.options {
    display: flex;
    justify-content:center;
    gap: 20px;
    width: 100%;
}
.options button {
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px; margin-right: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px 5px rgba(41, 37, 43, 0.084);
    background-color: transparent;
    color: white;
    font-size: 20px;
    backdrop-filter: blur(10px);

    transition: padding 0.4s, margin 0.4s;
}
.options button:hover {
    padding-left: 40px; padding-right: 40px;
    margin-left: 0; margin-right: 0;
}

#timezone-options {
    display: block;
    inset: 0;
    pointer-events: none;
    transform: translate(0, 120px);

    width: 550px; 
    height: 600px;
    padding: 30px;

    border: none;
    border-radius: 20px;
    
    opacity: 0;
    background-color: black;

    transition: opacity 0.5s, transform 0.5s;
}
#timezone-options[open] {
    opacity: 0.4;
    inset: 1;
    pointer-events: all;
    transform: translate(0, 0);
}
#timezone-options::backdrop {backdrop-filter: blur(100px);}

#timezone-options button {
    border-radius: 20px;
    font-size: 20px;
    padding: 20px 30px;
    border: none;
    letter-spacing: 2px;
}
#timezone {display: none; width: 100%;}
#timezone-options button:hover {letter-spacing: 5px;}

#timezone-options #exit-button {
    background-color: red;
    color: white;

    padding: 20px 20px;

    transition: padding .5s, margin .5s;
    cursor: pointer;
    position: fixed;

    transition: letter-spacing 0.3s;

} 
#exit-button:hover {background-color: white;}

.timezone-header {
    display: flex;

    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

#timezone-options h2 {
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

#search-bar {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 30px;

    color: white;
    background-color: black; 

    border: none;
    border: 1px solid white;
}
.hidden {display: none;}

#timezone-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@keyframes bounce {
}
#animation-block {
    margin-right: 110%;

    background-color: black; opacity: 0;
    border-radius: 20px;

    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media screen and (max-width: 500px) {
    body {overflow: hidden;}

    #time-display {
        width: 100%; height: 100px; 
        font-size: 200%;
        margin-top: 10px; margin-bottom: 10px;
        padding: 0;
    }
    #timezone-display {
        font-weight: normal;
        font-size: 100%;
    }
    .options {
        gap: 0;
    }
    .options button{
        font-size: 50%;
        margin: 10px;
        padding: 10px 15px;
    }
    .options button:hover {
        margin: 10px;
        padding: 10px 15px;
    }

    #timezone-options {
        display: block;
        inset: 0;
        pointer-events: none;
        transform: translate(0, 120px);
    
        width: 70%; 
        height: 50%;
        padding: 30px;
    
        border: none;
        border-radius: 20px;
        
        opacity: 0;
        background-color: black;
    
        transition: opacity 0.5s, transform 0.5s;
    }
    #timezone-options h2 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 7px;
        font-size: 10px;
    }
    #timezone-options #exit-button {
        background-color: red;
        color: white;
    
        padding: 10px 10px;
        font-size: 10px;
        transition: padding .5s, margin .5s;
        cursor: pointer;
        position: fixed;
    
        transition: letter-spacing 0.3s;
    
    } 
}