body {
    background-color: rgba(190, 143, 143, 0.391);
}
:root {
    --box-shadow-blur: 3vh;
    --box-shadow-properties: 0vh 0vh var(--box-shadow-blur) 1vh rgba(16,16,16,0.06);
}
.container {
    display: flex; flex-direction: column; position: absolute; justify-content: center;
    left: 0; right: 0; bottom: 0; top: 0; gap: 10px;
    align-items: center; font-family: Arial;
}
.secondary-container {
    display: flex; flex-direction: column; align-items: center;
    justify-content: center; user-select: none;
    height: 100%; 
    color: black;
}
.secondary-container button, .secondary-container h1{border-radius: 20px;}

#timezone-display {font-weight: normal;}
#time-display {
    width: 100%; height: 250px; font-size: 500%;

    box-shadow: var(--box-shadow-properties);
    backdrop-filter: blur(5px);
    display: flex; align-items: center; justify-content: center;
    margin-top: 40px;
    
}

.options {
    display: flex;
    justify-content:center;
    gap: 20px;
    width: 100%;
}
.options button {
    padding: 20px; margin-left: 20px; margin-right: 20px;
    cursor: pointer; border: none;
    box-shadow: var(--box-shadow-properties);
    background-color: transparent;
    color: black;
    font-size: 20px;
    backdrop-filter: blur(10px);

    transition: padding 0.4s, margin 0.4s;
}
.options button:hover {
    padding-left: 40px; padding-right: 40px;
    margin-left: 0; margin-right: 0;
}

#timezone-options {
    display: block; inset: 0; pointer-events: none; transform: translate(0, 120px);
    width: 550px; height: 600px; padding: 30px;
    border: none; border-radius: 20px;
    opacity: 0; background-color: black;

    transition: .5s;
}
#timezone-options[open] {
    opacity: 0.4;
    inset: 1;
    pointer-events: all;
    transform: translate(0, 0);
}
#timezone-options::backdrop {backdrop-filter: blur(100px);}

.timezone-header {
    align-items: center;
    display: flex; width: 100%; margin-bottom: 40px; padding-bottom: 20px;
    border-bottom: 1px solid white; color: white;
    user-select: none; justify-content: center;
}
#timezone-options #exit-button {
    background-color: red; color: white; border: none;
    padding: 20px 18px; cursor: pointer; border-radius: 20px; font-size: 20px;
    transition: .5s;
}
#timezone-options #exit-button:hover {
    color: red; background-color: white;
}
.header-title {
    color: white;width: 100%; text-align: center; text-transform: uppercase;
    letter-spacing: 7px;
}
.help-info {
    outline: 2px solid white; outline-offset: -2px; border-radius: 20px; margin: 0; padding: 20px 28px;
    cursor: pointer; transition: 0.3s; font-size: 20px;
}
.help-info:hover {background-color: white; color:black;}

#timezone-container button {
    border-radius: 20px;
    font-size: 20px;
    padding: 20px 30px;
    border: none;
    letter-spacing: 2px;
}
#timezone {display: none; width: 100%;}
#timezone-container button:hover {letter-spacing: 5px;}

#search-bar {
    width: 100%;padding: 20px;font-size: 20px; border-radius: 20px; margin-bottom: 30px;
    color: white; background-color: black; border: none; border: 1px solid white;
}

#timezone-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hidden {display: none;}

@media screen and (max-width: 500px) {
    #time-display {
        width: 100%; height: 100px; font-size: 230%;
        margin-top: 10px; margin-bottom: 10px;
        padding: 0;
    }
    #timezone-display {
        font-weight: normal;
        font-size: 100%;
    }
    .options {gap: 0;}
    .options button{
        font-size: 50%;
        margin: 10px;
        padding: 10px 15px;
        
    }
    .options button:hover {margin: 10px; padding: 10px 15px;}
    

    #timezone-options {
        display: block;
        inset: 0;
        pointer-events: none;
        transform: translate(0, 120px);
    
        width: 70%; 
        height: 50%;
        padding: 30px;
    
        border: none;
        border-radius: 20px;
        
        opacity: 0;
        background-color: black;
    
        transition: opacity 0.5s, transform 0.5s;
    }

    .timezone-header {
        display: flex; width: 100%; margin-bottom: 40px; padding-bottom: 20px;
        border-bottom: 1px solid white;
    }    
    #timezone-options #exit-button {
        background-color: red; color: white; border: none;
        padding: 10px 18px; cursor: pointer; border-radius: 20px; font-size: 10px;
        transition: .5s;
    }
    #timezone-options #exit-button:hover {
        color: red; background-color: white;
    }
    .header-title {
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 7px;
        font-size: 90%;
    }
    .help-info {
        outline: 2px solid white; outline-offset: -2px; border-radius: 20px; margin: 0; padding: 10px 18px;
        cursor: pointer; transition: 0.3s; font-size: 10px;
    }
    .help-info:hover {background-color: white; color:black;}


}